.container
  %section.section-header
    .apply-container
      = link_to 'Apply', apply_path, class: 'button'

  %section.section-about
    %dl.split
      %dt Who
      %dd We're #{link_to 'Pivotal Labs', 'http://pivotallabs.com'}. We build software. We've got extra space, and we want to share it with you.

      %dt What
      %dd Come work in our space for a period of four months. Surround yourself with smart people and share what you know.

      %dt When
      %dd Season 2 of Pivotal Commons starts March 1st and ends June 27th. Deadline for application submission is February 19, 2014.

      %dt Where
      %dd We're located in Manhattan, in the Chelsea neighborhood.

      %dt Why
      %dd We're a part of the tech community in NYC. We want to see you succeed, and we want to learn from your success.

  %section.section-callout
    %ul
      %li.testimonial
        %figure

          %blockquote #{image_tag("avatars/samantha_john.jpg")} At Pivotal the close proximity to tons of smart and |
          experienced people has been invaluable to Hopscotch. |
          %figcaption #{link_to "Samantha John", "https://twitter.com/SamJ0hn"}, #{link_to "Hopscotch", "https://gethopscotch.com"}
      %li.testimonial
        %figure
          %blockquote #{image_tag("avatars/paul_dix.png")} Working in the Pivotal office is awesome&#8230; |
          You're surrounded by smart people working on interesting things. |
          You can bounce ideas off people to get quick feedback and to top it all |
          off you get free breakfast in the morning! |
          %figcaption #{link_to "Paul Dix", "https://twitter.com/pauldix"}, #{link_to "InfluxDB", "http://influxdb.org/"}

      %li.testimonial
        %figure
          %blockquote #{image_tag("avatars/evan_whalen.jpeg")} Having a desk at Pivotal has given Sendicate a huge boost |
          in productivity. It is invaluable to be surrounded by such intelligent |
          people you can bounce ideas off of. The physical working space is also |
          very comfortable; the standing desks and tall ceilings are especially |
          nice. The massive wall of snacks and beverages is pretty awesome, too. |
          %figcaption #{link_to "Evan Whalen", "https://twitter.com/evanwhalen"}, #{link_to "Sendicate", "http://www.sendicate.net/"}
      %li.testimonial
        %figure
          %blockquote #{image_tag("avatars/jess_eddy.png")} The amenities are a nice addition to the work environment |
          and as someone who sees clients on a regular basis it's really nice to |
          be able to offer them a cup of coffee or coconut water. |
          %figcaption #{link_to "Jess Eddy", "https://twitter.com/jesseddy"}, #{link_to "UX consultant", "http://jesseddy.com/"}

  %section.section-faq
    %h2 FAQ

    %dl
      %dt Wait&#8230; it's free?
      %dd
        Yes, we're offering the space free of charge. We expect, however, that you'll be an active participant in our community. This includes:
        %ul
          %li Attending our morning stand-up
          %li Being available for questions from Pivots and other community members
          %li Giving a tech talk

      %dt Would we have full access to the space?
      %dd You'll have all the same privileges as a Pivot: you'll be able to schedule meetings in our conference rooms, host clients, attend breakfast, and share our snacks and beverages.

      %dt When is the space open?
      %dd Our normal business hours are 9am to 6pm (with stand-up at 9:05).

      %dt Do you offer hardware and IT support?
      %dd You'll need to supply your own machines and hardware, and we don't offer IT support. You'll have access to our Internet connection.

      %dt Do you have a contract or agreement?
      %dd Yes, you can #{link_to "take a look at the agreement", ENV['AGREEMENT_URL']} before applying.
