!!!
%html
  %head
    %title Pivotal Commons
    = stylesheet_link_tag    "normalize", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      %header
        %h1
          = link_to 'Pivotal Commons', root_path
        %h2 Desk space at Pivotal Labs NYC&mdash;Season 2

      = yield
